a{
  font-size: 1em;
  font-family: futura, Helvetica, Arial, sans-serif;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 1em;
}

a:hover{
  color: #42a4f4;
}

.navbar-brand{
  font-family: futura, Helvetica, Arial, sans-serif;
  font-weight: 530;
  letter-spacing: 0.4em;
}

.navbar{
  border-bottom: 1px solid #E5E5E5;
}
