<nav class="navbar navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand animated fadeInLeft" [routerLink]="['']">FELIPE MESINA</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="fa fa-bars"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="links"><a [routerLink]="['']">ABOUT</a></li>
        <li class="links"><a [routerLink]="['portfolio']">PORTFOLIO</a></li>
        <li class="links"><a href="mailto:felipejmesina@gmail.com">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>
