<nav class="navbar navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand animated fadeInLeft" [routerLink]="['']">FELIPE MESINA</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="fa fa-bars"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <a [routerLink]="['']"><li class="links">ABOUT</li></a>
        <a [routerLink]="['portfolio']"><li class="links">PORTFOLIO</li></a>
        <a href="mailto:felipejmesina@gmail.com"><li class="links"> CONTACT</li></a>
      </ul>
    </div>
  </div>
</nav>
