

.project-img{
  width: 240px;
  height: auto;
  margin-bottom: 1em;
}

.box{
  width: 60%;
  margin: 0 auto;
  border: 1px solid #f2f2f2;
  box-shadow: 1px 1px 5px #ededed;
  border-radius: .25em;
  padding: 2em;
  margin-bottom: 2em;
  -webkit-transition: background-color .4s ease-out;
}

p{
  color: white;
}



h1{
  font-size: 5em;
  margin-bottom: .5em;
  letter-spacing: -0.1em;
  text-align: center;
}

a{
  text-decoration: none;
}

div.box:hover{
  background-color: #42a4f4;
  border-radius: 7px;
}

@media only screen and (max-width: 500px) {
    .project-img {
        width: 200px;
        margin-bottom: 1em;
        padding-right: 1em;

    }
}
