<div class="container">
  <div class="row">
    <h1 class="animated fadeInDown">portfolio</h1>
      <div class="text-center box animated fadeInUp">
        <a href="http://54.219.143.86/">
          <img class="project-img" src="/assets/justabout.png" alt="justAboutProject">
          <h3>Just About</h3>
          <p>An e-commerce app where users can buy or sell their items.
            Users can also create an account to contact and communicate with
            other buyers/sellers.
          </p>
          <p>
            HTML, CSS, MEAN, Bootstrap
          </p>
        </a>
      </div>
      <div class="text-center box animated fadeInUp">
        <a href="#">
        <img class="project-img" src="/assets/recipes.png" alt="recipez">
        <h3>Recipez</h3>
        <p>An online recipe book where users can rate each others recipes.
           Used the CSS grid system and media queries to make it responsive.
        </p>
        <p>
          HTML, CSS, Ruby On Rails
        </p>
      </a>
    </div>
  </div>
</div>
