<div class="container">
  <div class="row">
    <h1 class="animated fadeInDown">portfolio</h1>
      <div class="text-center box animated fadeInUp">
        <a href="http://54.219.143.86/">
          <img class="project-img" src="/assets/market.png" alt="a macbook">
          <h3>Just About</h3>
          <p>An e-commerce app where users can buy or sell their items.
            Users can also create an account to contact and communicate with
            other buyers/sellers.
          </p>
          <p>
            HTML, CSS, MEAN, Bootstrap
          </p>
        </a>
      </div>
      <div class="text-center box animated fadeInUp">
        <a href="#">
        <img class="project-img" src="/assets/recipes.png" alt="a macbook">
        <h3>Recipez</h3>
        <p>A take on web design. Focused on making it responsive and colorful.</p>
        <p>Ruby On Rails, HTML, CSS</p>
      </a>
      </div>
      <div class="text-center box animated fadeInUp">
        <a href="#">
        <img class="project-img" src="/assets/macbook.png" alt="a macbook">
        <h3>Ninja Gold</h3>
        <p>Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
           publishing software like Aldus PageMaker.</p>
        <p>HTML, CSS, JavaScript, MEAN, Bootstrap</p>
      </a>
      </div>
  </div>
</div>
